@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600; 0,700 ; 1.300; 1.400; 1.600 & family = Muli: ital, wght @ 0,200; 0,300; 0,400; 0,500; 1,200; 1,300; 1.400 & display = swap ");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");

:root {
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
}

html {
  overflow-x: hidden;
}

body,
ul {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: #fff;
}

.cabecalho {
  font-family: var(--font-primary);
  font-size: 5vh;
  text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
}

.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 4em;
  grid-column-gap: 20px;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: #000000;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

#menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 70px;
  right: 0px;
  background: linear-gradient(to left, #a044ff, #6a3093);
  color: #fff;
  transition: 0.6s;
  z-index: 1000;
  height: 0px;
  visibility: hidden;
  overflow-y: hidden;
}
#nav.active #menu {
  // usei esse display block para definir uma linha embaixo da outra
  display: block;
  height: calc(100vh - 70px);
  visibility: visible;
  overflow-y: auto;
}
#menu a {
  padding: 1.5rem 0;
  margin: 0 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
#btn-mobile {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
  color: #fff;
}
#hamburger {
  display: block;
  border-top: 2px solid;
  width: 20px;
}
#hamburger::after,
#hamburger::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
#nav.active #hamburger {
  border-top-color: transparent;
}
#nav.active #hamburger::before {
  transform: rotate(135deg);
}
#nav.active #hamburger::after {
  transform: rotate(-135deg);
  top: -7px;
}
.contact {
  font-size: 5vh;
  text-align: center;
}
.contact-email {
  font-size: 3.5vh;
}

@media screen and (max-width: 912px) {
  .contact {
    font-size: 3vh;
  }
  .contact-email {
    font-size: 2.5vh;
  }
}
@media screen and (max-width: 767px) {
  .contact-email {
    text-align: center;
  }
}

section.banner-topo {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  .img-wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
  }

  // CRIEI UMA ANIMAÇÃO PARA A IMAGEM
  @keyframes zoom {
    0% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
  }

  // CRIEI OUTRA ANIMAÇÃO PARA A DESCRIÇÃO
  @keyframes moveBanner {
    0% {
      transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
      transform: translateY(0) rotateY(0);
      opacity: 1;
    }
  }

  .banner {
    position: absolute;
    top: 50%;
  }

  h1 {
    color: #fff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: 0.3rem 0.4rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
    @media screen and (max-width: 767px) {
      font-size: 4vh;
    }
  }

  p {
    font-family: "Josefin Slab", serif;
    color: #fff;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
    @media screen and (max-width: 767px) {
      font-size: 4vh;
    }
  }
}

section#sobre {
  display: flex;
  align-items: center;
  height: 70vh;
  background: #e0bcdd;
  .sobre-mim {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  p {
    font-family: var(--font-secundary);
    text-align: justify;
    color: #222;
  }
  .img-fluid {
    width: 70%;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 180px;
  }
  a {
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093);
    border: none;
    width: 70%;
    color: #fff;
    font-family: var(--font-action);
  }
  .btn-about {
    border: none;
  }

  @media screen and (max-width: 912px) {
    height: 50vh;
    .sobre-mim {
      height: 35vh;
    }
  }
  @media screen and (max-width: 767px) {
    height: 100vh;
    align-items: flex-start;
    .sobre-mim {
      height: 50vh;
    }
    .img-fluid {
      width: 90%;
    }
  }
}

section#conhecimentos {
  height: 60vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, #a044ff, #6a3093);
  border: none;
  .title {
    font-family: var(--font-secundary);
    font-size: 8vh;
    color: #fff;
    text-align: center;
    padding-bottom: 5vh;
  }
  .knowledge {
    font-family: var(--font-secundary);
    font-size: 2vh;
    color: #fff;
    cursor: pointer;
    text-align: center;
    &:hover {
      background-color: #fff;
      color: #131313;
      transition: 0.5s;
      border-radius: 5px 10px;
    }
  }

  @media screen and (max-width: 912px) {
    height: 70vh;
  }
  @media screen and (max-width: 767px) {
    height: 100vh;
    .title {
      font-size: 5vh;
    }
  }
}

section#portfolio {
  height: 160vh;
  background-color: #131313;
  display: flex;
  align-items: center;
  h3 {
    font-family: var(--font-secundary);
    font-size: 8vh;
    color: #fff;
    text-align: center;
    padding-bottom: 5vh;
  }
  p {
    color: #fff;
    text-align: justify;
    font-family: var(--font-secundary);
    font-size: 2.5vh;
  }
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      background: none;
    }
  }
  .img-fluid {
    height: 40vh;
    width: 100%;
  }
  .text {
    display: flex;
    height: 20vh;
    align-items: center;
  }
  .git {
    position: relative;
    top: 2vh;
  }

  @media screen and (max-width: 912px) {
    height: 100vh;
    .img-fluid {
      height: 25vh;
    }
    .text {
      height: 15vh;
    }
    p {
      font-size: 2vh;
    }
  }
  @media screen and (max-width: 767px) {
    height: 185vh;
    .img-fluid {
      height: auto;
    }
    .text {
      height: 25vh;
    }
  }
  @media screen and (width: 540px) {
    height: 220vh;
  }
}

footer {
  height: 50vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, #a044ff, #6a3093);
  font-family: var(--font-primary);
  h2 {
    color: #fff;
    font-size: 8vh;
    text-align: center;
    padding-bottom: 2vh;
  }
  .social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 4em;
    grid-column-gap: 40px;
    text-align: center;
  }
  a {
    font-size: 4vh;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .direitos {
    text-align: center;
    color: #fff;
    font-size: 3vh;
    padding-top: 5vh;
  }

  @media screen and (max-width: 912px) {
    h2 {
      font-size: 6vh;
    }
    a {
      font-size: 1.7vh;
    }
  }
  @media screen and (max-width: 767px) {
    h2 {
      font-size: 4vh;
    }
    .links {
      text-align: center;
    }
  }
}
